.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
